<div class="pagination-container">
  <div>
    <label>Ligne affichée</label>
    <p-dropdown [(ngModel)]="selectedPaginationOption"
                (ngModelChange)="emitChange()"
                [options]="pageSizeOptions"></p-dropdown>
  </div>
  <div style="display: flex">
    <p-button icon="fa-solid fa-chevron-left"
              styleClass="p-button-rounded p-button-outlined"
              (click)="goToPreviousPage()"
              [disabled]="isFirstPage()"
              id="previous-button-pagination"></p-button>
    <!--    ADD lib input number-->
    <p>{{getDisplayedSelectedPage()}}</p>
    <!--    <lib-input-number [value]="getDisplayedSelectedPage()"-->
    <!--                      [max]="getTotalPage()"-->
    <!--                      [min]="1"-->
    <!--                      (valueChange)="pageChange($event)"></lib-input-number>-->
    <p>sur {{getTotalPage()}}</p>
    <p-button icon="fa-solid fa-chevron-right"
              styleClass="p-button-rounded p-button-outlined"
              (click)="goToNextPage()"
              [disabled]="isLastPage()"
              id="next-button-pagination"></p-button>
  </div>
</div>
