<ng-container *ngIf="pipe else notPipe">
  {{value[fieldName] | dynamic:pipe:(pipeArgs ?? [])}}
</ng-container>
<ng-template #notPipe>
  <ng-container *ngIf="component else simple">
    <ng-container #componentContainer></ng-container>
  </ng-container>
  <ng-template #simple>
    {{value[fieldName]}}
  </ng-template>
</ng-template>


