<!--<i class="fa-solid fa-poo-storm"></i>-->
<p-tabView>
  <p-tabPanel header="List" id="list-tab">
    <app-list-container></app-list-container>
  </p-tabPanel>
  <p-tabPanel header="Dialog" id="dialog-tab">
    <app-dialog-container></app-dialog-container>
  </p-tabPanel>
  <p-tabPanel header="Pipe" id="pipe-tab">
    <app-pipe-container></app-pipe-container>
  </p-tabPanel>
  <p-tabPanel header="Utils" id="utils-tab">
    <app-utils-container></app-utils-container>
  </p-tabPanel>
</p-tabView>
