/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.logo-container {
  background-image: url("./assets/logo/wallonie_v.jpg");
  background-color: transparent;
  width: 50px;
  height: 50px;
}
.opened {
  .logo-container {
    background-image: url("./assets/logo/img-removebg-preview.png") !important;
    background-repeat: no-repeat;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
}


.p-overlay {
  background-color: white;
}
