<table class="persee-table" #table>
  <thead>
  <tr>
    <th>
      <input type="checkbox" (click)="selectOrUnSelectAll()">
    </th>
    <ng-container *ngFor="let col of columnConfig">
      <th *ngIf="col.isDisplay"
          resizable
          [listId]="listId"
          [columnId]="col.fieldName.toString()"
          #tableHeader>
        <lib-persee-table-header #perseeTableHeader
                                 [headerTranslationKey]="col.translationKeyHeader"
                                 [selectedSort]="getActualSort(col)"
                                 (selectedSortChange)="sortChange($event, col)"
                                 (activeFilterChange)="filterChange($event, col)"
                                 [filterType]="col.filterType"
                                 [fieldName]="col?.fieldName?.toString()"
                                 [selectOptions]="col?.selectOptions"
                                 [isDisplay]="col.isDisplay"></lib-persee-table-header>
      </th>
    </ng-container>
    <th *ngIf="isMangeColumn">
      <lib-manage-column-button [cols]="columnConfig"
                                (displayOrOrderChange)="displayOrOrderChange()"></lib-manage-column-button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr app-table-row
      #tableRow
      *ngFor="let row of dataSource"
      [columnConfig]="columnConfig"
      [value]="row"
      [isManageColumn]="isMangeColumn">
  </tr>
  </tbody>
</table>
<lib-persee-table-pagination [totalLength]="maxLength" #paginator
                             (paginationChange)="paginationChange($event)"></lib-persee-table-pagination>
