<ng-container *ngIf="isDisplay">
  <lib-persee-table-header-display [sortState]="selectedSort"
                                   [isActive]="isActive()"
                                   [headerTranslationKey]="headerTranslationKey"
                                   (onHeaderClick)="isOpen = !isOpen"></lib-persee-table-header-display>
  <p-overlay [(visible)]="isOpen">
    <div class="filter-overlay">
      <div>
        <ng-container *ngFor="let sort of sortField">
          <div class="flex justify-content-center align-items-center flex-row">
            <p-radioButton name="sort"
                           [label]="sort.labelTranslationKey"
                           [value]="sort.value"
                           [(ngModel)]="selectedSort"
                           [id]="sort.inputId" [inputId]="sort.inputId"
                           (ngModelChange)="changeSort()"></p-radioButton>
          </div>
        </ng-container>
      </div>
      <div>

        <ng-container [ngSwitch]="filterType">
          <ng-container *ngSwitchCase="FilterType.DATE_PICKER">
            <p-calendar [(ngModel)]="activeFilter"
                        dateFormat="dd/mm/yy"
                        (ngModelChange)="fillActiveFilter($event)"></p-calendar>
          </ng-container>
          <ng-container *ngSwitchCase="FilterType.INTERVAL">
            <label>Enter a range</label>
            <p-calendar [(ngModel)]="activeFilter" (ngModelChange)="rangeChange($event)" selectionMode="range"></p-calendar>
          </ng-container>
          <ng-container *ngSwitchCase="FilterType.DROPDOWN">
            <label>Select an option</label>
            <p-dropdown [(ngModel)]="activeFilter"
                        [options]="selectOptions"
                        (ngModelChange)="filterChange()"></p-dropdown>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <label>Filtre:</label>
            <input pInputText
                   [(ngModel)]="activeFilter"
                   (ngModelChange)="filterChange()">
          </ng-container>
        </ng-container>
      </div>
    </div>
  </p-overlay>
</ng-container>
