<div class="main-test-container"
     [style.color]="computeColor()">
  <div class="container-test">
    <span>{{value.enterpriseName}}</span>
    <span>{{value.amount}}</span>
  </div>
  <div>
    <span class="icon-question"></span>
  </div>
</div>
