<td><input type="checkbox" [(ngModel)]="selected"></td>

<ng-container *ngFor="let col of columnConfig">
  <td #tableCell *ngIf="col.isDisplay">
    <lib-persee-table-cell-display [pipe]="col.pipe"
                                   [pipeArgs]="col.pipeArgs"
                                   [value]="value"
                                   [fieldName]="col.fieldName"
                                   [component]="col.component"
                                   [componentInputs]="col.componentInputs"></lib-persee-table-cell-display>
  </td>
</ng-container>

<td *ngIf="isManageColumn"></td>
